<div class="filters content">
  <div class="materials" *ngFor="let type of RESOURCE_KEYS; let i = index">
    <div class="icon" [class]="type"></div>
    <input type="tel" placeholder="#" [(ngModel)]="inventory[type]" />
  </div>
  <div class="selected" *ngIf="selectedItem">
    {{ selectedItem.name }} - {{ selectedItem.id }}
  </div>
</div>
<div class="items-container">
  <div class="items-group" *ngFor="let slotType of slots">
    <div class="title">{{ slotType }}</div>
    <div class="container">
      <div *ngFor="let item of getSlotItems(slotType)">
        <app-single-item [item]="item" [unlockedItemIds]="unlockedItemIds"
          (craftItem)="craftItem($event)"></app-single-item>
      </div>
    </div>
  </div>
</div>