<div class="content">
  <div class="filters">
    <div class="materials" *ngFor="let type of RESOURCE_KEYS">
      <div class="icon" [class]="type"></div>
      <input type="tel" placeholder="#" [(ngModel)]="inventory[type]" (ngModelChange)="onInventoryChanged()" />
    </div>
    <button *ngIf="hasInventoryFilter()" class="cancel clear-inventory" (click)="clearInventory()">✕ Clear</button>
    <button (click)="this.appContext.addItemToggled = !this.appContext.addItemToggled" class="cancel add">Add</button>
    <app-add-item *ngIf="this.appContext.addItemToggled" (itemAdded)="onItemAdded()">
    </app-add-item>
  </div>
</div>
<div class="sticky-filter-bar">
  <app-item-filter (filterChanged)="onFilterChanged($event)"></app-item-filter>
</div>
<div class="items-container">
  <div class="items-group" *ngFor="let slotType of slots">
    <div class="title" (click)="toggleCategory(slotType)" [class.clickable]="true">
      <span class="chev">{{ isExpanded(slotType) ? '▾' : '▸' }}</span>
      {{ slotType }}
    </div>
    <div class="container" *ngIf="isExpanded(slotType)">
      <div *ngFor="let item of getSlotItems(slotType)">
        <app-single-item [item]="item" [unlockedItemIds]="unlockedItemIds"></app-single-item>
      </div>
    </div>
  </div>
</div>