<div class="container" [class]="{'toggled': toggled || areRequiredItemsToggled}">
  <div class="item" (click)="craft()">
    <div class="id">{{item.id}}</div>
    <img [src]="getItemSrc(item)" />
  </div>
  <div *ngIf=" toggled || areRequiredItemsToggled" class="required-items">
    <app-single-item *ngFor="let childItem of getRequiredItems()" [item]="childItem" [toggled]="areRequiredItemsToggled" [unlockedItemIds]="unlockedItemIds"
      (craftItem)="craft($event)"></app-single-item>
  </div>
</div>