<div class="container" [class.toggled]="bubbleOpen">
  <div class="item" (click)="toggleBubble()">
    <div class="id">{{item.id}}</div>
    <img [src]="getItemSrc(item)" />
    <div class="req-bubble" *ngIf="bubbleOpen" (click)="$event.stopPropagation()">
      <ng-container *ngIf="getBubbleRequirements() as reqs">
        <div class="req-locked" *ngIf="reqs.locked">
          🔒 Requires a locked item
        </div>
        <div class="req-resources" *ngIf="reqs.resources.length > 0">
          <div class="req-resource" *ngFor="let r of reqs.resources">
            <div class="icon" [class]="r.key"></div>
            <span>{{ r.value }}</span>
          </div>
        </div>
        <div class="req-none" *ngIf="!reqs.locked && reqs.resources.length === 0">
          No requirements
        </div>
      </ng-container>
    </div>
  </div>
</div>