<div class="icon toggle" tabindex="0" role="switch" aria-checked="false" [ngClass]="appContext.shouldShowSetup ? 'on' : ''" (click)="appContext.shouldShowSetup = !appContext.shouldShowSetup">
  <span class="dot"></span>
</div>
<div class="setup-container row content" [style.display]="appContext.shouldShowSetup ? null : 'none'">
  <div class="section">
    <div class="label-group">
      <label for="scenario-level">Level</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioLevel" />
    </div>
    <button class="action-button" (click)="startNewGame()">New</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">Mission</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioId" />
    </div>
    <button class="action-button" (click)="loadScenario()">Load</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">Room</label>
      <input type="tel" placeholder="#" [(ngModel)]="sectionId" />
    </div>
    <button class="action-button" (click)="loadSection()">Load</button>
  </div>

  <div class="section">
    <button class="action-button" (click)="this.appContext.addMonsterToggled = !this.appContext.addMonsterToggled">
      + Monster</button>
  </div>

  <div class="section">
    <button class="action-button" (click)="startSession()">Host</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">ID</label>
      <input type="tel" placeholder="1" [(ngModel)]="sessionId" />
    </div>
    <button class="action-button" (click)="joinSession()">Join</button>
  </div>
</div>