{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": [
            "chrome 53",          
            "last 2 versions",    
            "safari >= 9",        
            "not dead"            
          ]
        }
      }]
    ]
  }
  