.idea
node_modules
fail_screenshot.png
babel_grid/
babel_slimselect/
babel_scripts/
frosthaven-assistant-angular/node_modules
frosthaven-assistant-angular/dist 
frosthaven-assistant-angular/.vscode
frosthaven-assistant-angular/.angular