:root {
    --boneshaper-color: #49a967;
    --banner-spear-color: #edbc47;
    --deathwalker-color: #8c97a9;
    --drifter-color: #a28b7c;
    --elite-color: #400a0b;
    --nonelite-color: #694802;
    --friendly-color: #837ca2;
    --boneshaper-transperant-color: rgb(73 169 103 / 50%);
    --banner-spear-transperant-color: rgb(245 169 2 / 50%);
    --deathwalker-transperant-color: rgb(140 151 169 / 50%);
    --drifter-transperant-color: rgb(162 139 124 / 50%);
    --elite-transperant-color: rgb(197 0 0 / 50%);
    --nonelite-transperant-color: rgb(70 14 15 / 50%);
    --friendly-transperant-color: rgb(131 124 162 / 50%);
    --hp-color: #690202;
    --attack-color: #fbf300;
    --movement-color: #2e00f8;
    --stats-icons-size: 30px;
    --element-default-color: #000000;
    --element-fire-color: #e73710;
    --element-ice-color: #56c8ef;
    --element-air-color: #8f8f8f;
    --element-earth-color: #7da82a;
    --element-light-color: #da9c16;
    --element-dark-color: #102383;
}


body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Noto Emoji';
    margin: 0;
    padding: 10px;
    font-size: 22px;
    color: #F0F0F0;
    background-color: #2B2B2B;
    line-height: 1.4;
    -ms-overflow-style: none;
    scrollbar-width: 1px;
    overflow-y: scroll;
}


body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

input,
label,
button {
    font-size: 22px;
    color: #F0F0F0;
    background-color: transparent;
    border: none;
    padding: 8px;
    margin: 5px;
}

input[type="text"],
input[type="number"],
button {
    border: none;
    background: none;
    color: #F0F0F0;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin: 5px;
    background-color: #445566;
    border: none;
    cursor: pointer;
}

input[type="number"] {
    width: 80px;
    height: var(--stats-icons-size);
    font-size: 22px;
    text-align: center;
    border: none;
    color: #F0F0F0;
    font-size: 25px;
    cursor: pointer;
    width: 50px;
    font-weight: 800;
    background: none;
    vertical-align: middle;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}


img {
    width: 40px;
    border-radius: 3px;
}

.initiative {
    width: 375px;
}

.creatures {
    width: 100%;
    overflow-x: auto;
    user-select: none;
}

.creatures .creature-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
}

.creatures .creature-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.creatures .creature-column {
    flex: 10%;
    font-size: 18px;
    text-align: center;
    color: #F0F0F0;
    font-size: 18px;
    position: relative;
    margin: 15px 10px;
}

img.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


.creatures .initiative-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.creatures .creature-column .nameplate {
    border-radius: 9px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100px;
    padding: 15% 0;
    align-items: center;
}

.standee-only {
    font-size: 30px;
}

.character-skin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-skin .name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    min-height: 75px;
}

.character-skin .name b {
    min-height: 60px;
    align-content: center;
}

.character-skin .character-icon {
    width: 40px;
}

.character-skin .monster-icon {
    width: 30px;
}

.character-attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.creatures .creature-column .nameplate img.profile {
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px;
}

.creatures .boneshaper-row.friendly img.profile {
    color: var(--boneshaper-color);
}

.creatures .banner-spear-row.friendly img.profile {
    color: var(--banner-spear-color);
}

.creatures .deathwalker-row.friendly img.profile {
    color: var(--deathwalker-color);
}

.creatures .drifter-row.friendly img.profile {
    color: var(--drifter-color);
}

.creatures .elite img.profile {
    color: var(--elite-color);
}

.creatures .friendly img.profile {
    color: var(--friendly-color);
}

.creatures .boneshaper-row.friendly {
    background-color: var(--boneshaper-transperant-color);
}

.creatures .banner-spear-row.friendly {
    background-color: var(--banner-spear-transperant-color);
}

.creatures .drifter-row.friendly {
    background-color: var(--drifter-transperant-color);
}


.creatures .deathwalker-row.friendly {
    background-color: var(--deathwalker-transperant-color);
}

.creatures .elite-row {
    background-color: var(--elite-transperant-color);
}


.creatures .nonelite-row {
    background-color: var(--nonelite-transperant-color);
}

.creatures .friendly-row.friendly {
    background-color: var(--friendly-transperant-color);
}

.creatures .creature-column .nameplate input {
    color: white;
    background: none;
    font-size: 25px;
    font-weight: 800;
    width: 50px;
    padding: 0;
    margin: 0px;
}

.initiative-column {
    display: flex;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 10px;
    width: 90px;
}

.stats .stat-child {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 10px;
    flex: 1 0 20%;
}

.stats .stat-child object {
    width: var(--stats-icons-size);
    height: var(--stats-icons-size);
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 15px;
    background-color: #445566;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: #56677A;
    transform: scale(1.02);
}

.attack-btn {
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.attack-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.attack-btn button img {
    height: 30px;
    width: 30px;
    background: #a94949;
    padding: 5px;
    border: 3px solid #902a2a;
}

.attack-btn:hover {
    transform: scale(1.2);
    border-radius: 8px;
}



.remove-btn {
    font-size: 18px;
    padding: 5px;
    color: #999;
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    width: auto;
    margin-top: 5px;
    width: 50px;
}

.remove-btn:hover {
    background-color: #ff0000;
    transform: scale(1.02);
    color: white;
}

#elite-monster {
    margin-top: 15px;
}

div#modal-attack,
div#modal-conditions {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#attack-conditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid white;
}


#attack-conditions img {
    margin-right: 14px;
}

#attack-conditions p {
    margin-right: 4px;
}

.attack-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #3A3A3A;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #888;
    text-align: center;
    z-index: 101;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -14px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icon {
    text-align: center;
}

.icon img {
    width: 50px;
    height: 50px;
}

.icon p {
    margin-top: 5px;
}

.hp {
    background-color: #4CAF50;
}

.attack {
    background-color: #E57373;
}

.movement {
    background-color: #8E44AD;
}

.range {
    background-color: #F1C40F;
}

.add-char {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
}

.add-char .row {
    display: flex;
    flex-direction: column;
    position: relative;
}

.add-char,
.row,
.default-stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.add-char .row .default-stats.type-buttons {
    position: absolute;
    bottom: 0;
}

.row.middle-line {
    border: 1px solid white;
}

select {
    font-size: 18px;
    color: #F0F0F0;
    background-color: #445566;
    border: none;
    padding: 10px;
    outline: none;
}

option {
    font-size: 18px;
    color: #F0F0F0;
    background-color: #445566;
    border: none;
}

#battle-log-container {
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

#battle-log {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
}

#battle-log::-webkit-scrollbar {
    display: none;
}

.log-time {
    font-weight: bold;
    margin-right: 5px;
}

.log-event,
.log-time {
    color: #999;
}

.log-bold {
    color: #F0F0F0;
}

#battle-log li {
    margin-bottom: 10px;
    word-wrap: break-word;
}

.technical-log {
    font-size: 14px;
    font-style: italic;
}

#loading-spinner {
    display: inline-block;
    visibility: hidden;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.done {
    text-decoration: line-through;
    color: gray;
}

.game-setup {
    width: 50%;
}

.game-setup #todoList {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

#todoList {
    display: none;
}

#todoList li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#todoList li label {
    margin-top: 1px;
    padding: 0;
    display: flex;
    align-items: center;
}

#todoList li label.done {
    text-decoration: line-through;
    color: gray;
}

.elements-wrapper {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    user-select: none;
}

.element-icon {
    width: 50px;
    height: 50px;
    fill: var(--element-default-color);
    cursor: pointer;
}

.element-icon:hover {
    transform: scale(1.1);
}


.condition-row {
    display: flex;
    align-items: center;
    gap: 1px;
    min-height: 35px;
}

.condition-row,
.condition-images {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.condition-child {
    display: flex;
    align-items: center;
    position: relative;
}

.condition-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
}

.condition-image {
    width: 30px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.condition-image:hover {
    transform: scale(1.1);
}

.condition-row {
    display: flex;
    gap: 16px;
    align-items: center;
}

.condition-item {
    display: flex;
    align-items: center;
}

.condition-item img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.condition-input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.condition-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.condition-btn {
    width: 100%;
}

.stat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 15px;
}

#attack-result {
    display: inline-block;
}

.damage-icon {
    margin-right: -10px;
}

.attack-image{
    margin-top: 20px;
}

#round-number {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    margin: 0;
    padding: 0;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.toast.hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; 
}

.buttons-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.round-info {
     display: flex; 
    align-items: center;   
}

.round-info span {
    font-size: 16px; 
}

#join-session-container, #load-scenario-container{
    display: none;
}