<div>
    <div [class]="creature.type" [ngClass]="[
       creature.boss ? 'boss' : (creature.isElite ? 'elite' : 'non-elite'),
       creature.aggressive ? '' : 'friendly'
     ]" class="container">
        <div class="creature-standee stat" *ngIf="creature.aggressive; else traitsBlock">
            <input type="tel" [value]="creature.standee"
                (blur)="updateStandee(creature.id!, creature.type, +$event.target.value)" maxlength="2"
                class="stat-input initiative" />

            <div class="header stat">
                <div class="icon heart">
                    <input type="tel" [value]="creature.hp"
                        (blur)="updateCreatureHp(creature.id!, +$event.target.value)" maxlength="3"
                        class="stat-input" />
                </div>
                <app-conditions [creature]="creature" [conditions]="creature.conditions"
                    (conditionToggled)="toggleCondition($event)"></app-conditions>
            </div>
        </div>
        <ng-template #traitsBlock>
            <div class="creature-traits">
                <div *ngFor="let trait of creature.traits" class="trait"
                    [style.background]="'var(--' + creature.type + '-color)'">
                    {{ trait }}
                </div>
            </div>
        </ng-template>
    </div>
    <button *ngIf="creature.aggressive" class="open-modal button attack" (click)="openConditionModal()">
        <div class="icon attack"></div>Attack
    </button>
</div>