<div class="loot-container" *ngIf="scenario">
  <div class="title-row">
    <h3>Loot Deck</h3>
    <app-chevron-toggle [expanded]="shouldExpand" (toggle)="shouldExpand = !shouldExpand"></app-chevron-toggle>
  </div>

  <div class="loot-deck-config" *ngIf="scenario?.lootDeckConfig" [style.display]="shouldExpand ? null : 'none'">
    <table class="legend-table">
      <tbody>
        <tr *ngFor="let item of scenario.lootDeckConfig | keyvalue; trackBy: trackByKey">
          <td><span class="icon" [ngClass]="item.key"></span></td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>