<div class="creature-details" [ngClass]="[
       creature.type,
       creature.isElite === true ? 'elite' :
       creature.isElite === false ? 'non-elite' : '',
       creature.aggressive ? '' : 'character'
     ]">
  <div class="base-info">
    <span class="creature-initiative base-stat">
      <input type="tel" [value]="creature.initiative"
        (blur)="appContext.updateCreatureBaseStat(creature.id!, 'initiative', +$event.target.value, true)" maxlength="2"
        class="stat-input" />
    </span>
    <div class="creature-nameplate">
      <img class='profile' [src]="getCreaturePic(creature)" (click)="openConditionModal()">
      <span *ngIf="!creature.aggressive" class="creature-name base-stat">
        {{creature.name}}
      </span>

      <div *ngIf="creature.aggressive" class="group-stats">
        <span class="creature-name base-stat">
          {{creature.type}}
        </span>
        <div class="stats">
          <span class="creature-attack base-stat">
           <div class="icon attack"></div>
            {{creature.attack}}
          </span>
          <span class="creature-movement base-stat">
            <div class="icon move"></div>
            {{creature.movement}}
          </span>
          <span class="creature-armor base-stat" *ngIf="(creature.armor || creature.roundArmor) && creature.armor + creature.roundArmor> 0">
           <div class="icon shield"></div>
            {{creature.armor + creature.roundArmor}}
          </span>
          <span class="creature-retaliate base-stat" *ngIf="(creature.retaliate || creature.roundRetaliate) && creature.retaliate + creature.roundRetaliate > 0">
            <div class="icon retaliate"></div>
            {{creature.retaliate + creature.roundRetaliate}}
          </span>
        </div>

      </div>
    </div>
  </div>

</div>