<div class="setup-container row">
  <button class="action-button" (click)="startNewGame()">New</button>

  <div class="section">

    <div class="label-group">
      <label for="scenario-id">S</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioId" />
    </div>
    <div class="label-group">
      <label for="scenario-level">L</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioLevel" />
    </div>


    <button class="action-button" (click)="loadScenario()">Scenario</button>
  </div>

  <div class="section">
    <div class="label-group">
      <input type="tel" placeholder="#" [(ngModel)]="sectionId" />
    </div>
    <button class="action-button" (click)="loadSection()">Section</button>
  </div>

  <div class="section">

    <button (click)="startSession()">Start</button>
    <div class="label-group">
      <input type="tel" placeholder="1" [(ngModel)]="sessionId" />
    </div>

    <button class="action-button" (click)="joinSession()">Join</button>

  </div>

  <button class="action-button" (click)="this.appContext.addMonsterToggled = !this.appContext.addMonsterToggled">Add Monster</button>

</div>