.setup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--content-background-left);
  padding: 10px 0;
  padding-left: 5px;

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    border-left: 5px solid;
    gap: 0.5rem;
    flex: 1 1 0px;

    .label-group {
      height: 100%;
      display: flex;
      flex-direction: column;

      label {
        padding: 0px;
        font-size: 20px;
      }
    }
  }

  button {
    border: none;
  }
}

.technical-info {
  position: absolute;
  bottom: -10em;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 0.7em;
  color: var(--font-color);
}

@media (max-width: 768px) {
  .setup-container {
    flex-direction: column;
    align-items: flex-start;
  }
}