.setup-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--content-background-left);
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 3px solid;
  }
      button {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid;
      border-top: 1px solid;
    }
}