<div class="setup-container row content">
  <div class="section">
    <div class="label-group">
      <label for="scenario-level">Level</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioLevel" />
    </div>
    <button class="action-button" (click)="startNewGame()">New</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">Mission</label>
      <input type="tel" placeholder="#" [(ngModel)]="scenarioId" />
    </div>
    <button class="action-button" (click)="loadScenario()">Load</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">Room</label>
      <input type="tel" placeholder="#" [(ngModel)]="sectionId" />
    </div>
    <button class="action-button" (click)="loadSection()">Load</button>
  </div>

  <div class="section">
    <button class="action-button" (click)="this.appContext.addMonsterToggled = !this.appContext.addMonsterToggled">
      + Monster</button>
  </div>

  <div class="section">
    <button class="action-button" (click)="startSession()">Host</button>
  </div>

  <div class="section">
    <div class="label-group">
      <label for="scenario-id">ID</label>
      <input type="tel" placeholder="1" [(ngModel)]="sessionId" />
    </div>
    <button class="action-button" (click)="joinSession()">Join</button>
  </div>

  <div class="technical-info">
    <a href="https://grey-astronaut-764049.postman.co/collection/1419604-3345b5ec-84d0-4b3c-9b89-30bdc88ac94a?source=rip_html&active-environment=1419604-50e897d1-5175-44ef-a5fc-6f70370eae60"
      target="_blank" title="Postman" class="button-link">Run Postman
    </a>
    <a href="https://supabase.com/dashboard/project/ymlekirbwjanuxrclsgf/editor/17421?schema=public" target="_blank"
      title="Postman" class="button-link">Open DB
    </a>

    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ3mIO6M9EcAcvLxGvf368ZtNINTWFTPUY3w8immfofr0ViH4KllF0lqUv_vTZzIdb74hHYOvI_Hwkq/pubhtml"
      target="_blank" title="Unlocked craftables" class="button-link">
      View Unlocked Craftables
    </a>
    <a href="https://www.gloomhavencards.com/fh/items?fbclid=IwY2xjawL8IHRleHRuA2FlbQIxMQABHkKcdLIcbofW8IUeOP6v5TWQoy0Zy87jam0ER3Wlj5h5ix4GIPpDYmtn_MYa_aem_uNM6fXKf3vBZx724Hs_wlw"
      target="_blank" title="Unlocked craftables" class="button-link">
      View All Items
    </a>
    <a href="https://docs.google.com/spreadsheets/d/1LXfBFjL74gE959ogz9Kj6Wbo_ieL4kZBT3jss13WZto/edit?gid=800894000#gid=800894000"
      target="_blank" title="Unlocked craftables" class="button-link">
      View Crafting Calculator
    </a>
    <span *ngIf="clientId">client {{clientId}} connected to session: {{sessionId}}</span>
  </div>
</div>