<div class="game-container">
  <div *ngFor="let creatureGroup of groupedCreatures; let i = index" class="creature-group" [ngClass]="[
       creatureGroup.creatureType.type,
       creatureGroup.creatureType.isElite ? 'elite' : 'non-elite',
       creatureGroup.creatureType.aggressive ? '' : 'character'
     ]">
    <div class="creature-container">
      <div class="creature-details">
        <div class="base-info">
          <span class="creature-initiative base-stat">
            {{creatureGroup.creatureType.initiative}}
          </span>
          <div class="creature-nameplate">
            <img class='profile' [src]="getCreaturePic(creatureGroup.creatureType)">
            <span *ngIf="!creatureGroup.creatureType.aggressive" class="creature-name base-stat">
              {{creatureGroup.creatureType.name}}
            </span>

            <div *ngIf="creatureGroup.creatureType.aggressive" class="group-stats">
              <span class="creature-name base-stat">
                {{creatureGroup.creatureType.type}}
              </span>
              <div class="stats">
                <span class="creature-attack base-stat">
                  <img src="./images/stats/attack.svg" />
                  {{creatureGroup.creatureType.attack}}
                </span>
                <span class="creature-movement  base-stat">
                  <img src="./images/fh/stats/move.svg" />
                  {{creatureGroup.creatureType.movement}}
                </span>
                <span class="creature-armor  base-stat"
                  *ngIf="creatureGroup.creatureType.armor && creatureGroup.creatureType.armor > 0">
                  <img class="condition-image" src="./images/fh/action/shield.svg" />
                  {{creatureGroup.creatureType.armor}}
                </span>
                <span class="creature-retaliate  base-stat"
                  *ngIf="creatureGroup.creatureType.retaliate && creatureGroup.creatureType.retaliate > 0">
                  <img class="condition-image" src="./images/fh/action/retaliate.svg" />
                  {{creatureGroup.creatureType.retaliate}}
                </span>
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="creature-list">
        <div *ngFor="let creature of creatureGroup.creatures; let j = index" class="creature" [ngClass]="creature.type">
          <div class="{{creature.type}}" [ngClass]="creature.isElite ? 'elite' : ''">
            <span class="creature-name stat" *ngIf="creature.aggressive">
              {{creature.name}}
            </span>
            <span class="creature-standee stat" *ngIf="creature.aggressive">
              Standee {{creature.standee}}
            </span>
            <span class="creature-hp stat">
              <img id="char-heart-${index}" src="../../images/heart.svg" />
              {{creature.hp}}
            </span>

            <div class="conditions">
              <!-- {{condition}} -->
            </div>
            <div class="temp-stats">
              <!-- {{tempStat}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>