.game-container {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .creature-group {
    width: 300px;
    border: 1px solid;
    border-color: var(--font-color);

    &.elite {
      .base-info {
        background: var(--elite-color);
      }
    }

    &.non-elite {
      .base-info {
        background: var(--nonelite-color);
      }
    }

    &.character {
      &.boneshaper {
        .base-info {
          background-color: var(--boneshaper-color);
        }
      }

      &.fist {
        .base-info {
          background-color: var(--fist-color);
        }
      }

      &.blinkblade {
        .base-info {
          background-color: var(--blinkblade-color);
        }
      }

      &.meteor {
        .base-info {
          background-color: var(--meteor-color);
        }
      }
    }
  }

  .creature-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    .creature-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .base-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .creature-nameplate {
          width: 80%;
          display: flex;
          justify-content: space-between;

          .creature-name {
            text-align: right;
          }
        }

        img.profile {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 2px;
        }
      }

      .base-info,
      .group-stats {
        display: flex;


        width: calc(100% - 20px);
      }

      .group-stats {
        flex-direction: column;
        justify-content: end;

        .stats {
          justify-content: end;
          display: flex;
          margin-top: 5px;
          gap: 0.5rem;
        }

        img {
          width: 30px;
        }
      }

    }

    .creature-list {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      flex-wrap: wrap;

      .creature {
        border: 1px solid;

        .stat {
          display: flex;
        }

        img {
          width: 30px;
        }
      }
    }
  }
}