{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "53"
        },
        "loose": true,
        "modules": "auto",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ]
}
