/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #006989;
    --secondary-color: #AF5D63;
    --base-color: #0D1321;
    --container-color: #25324f;
    --font-color: #EAEBED;
    --boneshaper-color: #49a967;
    --banner-spear-color: #edbc47;
    --blinkblade-color: #01b0db;
    --snowflake-color: #c8f0ff80;
    --deathwalker-color: #8c97a9;
    --drifter-color: #a28b7c;
    --geminate-color: #c33e69;
    --meteor-color: #eb5b38;
    --fist-color: #2F4858;
    --trap-color: #ddb586;
    --coral-color: #4c988b;
    --elite-color: #400a0b;
    --nonelite-color: #694802;
    --friendly-color: #837ca2;
    --boneshaper-transperant-color: rgb(73 169 103 / 50%);
    --blinkblade-transperant-color: rgb(1 176 219 / 50%);
    --banner-spear-transperant-color: rgb(245 169 2 / 50%);
    --snowflake-transparent-color: rgba(200, 240, 255, 0.5);
    --deathwalker-transperant-color: rgb(140 151 169 / 50%);
    --drifter-transperant-color: rgb(162 139 124 / 50%);
    --geminate-transperant-color: rgb(195 62 105 / 50%);
    --meteor-transperant-color: rgb(235 91 56 / 50%);
    --trap-transperant-color: rgb(221 181 134 / 50%);
    --fist-transperant-color: rgb(47 72 88 / 50%);
    --coral-transperant-color: rgb(137 76 152 / 50%);
    --elite-transperant-color: rgb(197 0 0 / 50%);
    --nonelite-transperant-color: rgb(70 14 15 / 50%);
    --friendly-transperant-color: rgb(131 124 162 / 50%);
    --hp-color: #690202;
    --attack-color: #fbf300;
    --movement-color: #2e00f8;
    --stats-icons-size: 30px;
    --element-default-color: #000000;
    --element-fire-color: #e73710;
    --element-ice-color: #56c8ef;
    --element-air-color: #8f8f8f;
    --element-earth-color: #7da82a;
    --element-light-color: #da9c16;
    --element-dark-color: #102383;
}

body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Noto Emoji';
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    touch-action: pan-y;
    overscroll-behavior-x: none;
    margin: 0;
    padding: 10px;
    font-size: 22px;
    color: var(--font-color);
    background-color: var(--base-color);
    line-height: 1.4;
    -ms-overflow-style: none;
    scrollbar-width: 1px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
}

input,
label,
button {
    border: none;
    color: var(--font-color);
    font-size: 25px;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 10px 15px;

    &.action-button {
        background-color: var(--secondary-color);
        margin: 5px;
    }

    &[type="checkbox"],
    &[type="tel"] {
        width: 30px;
        text-align: center;
        background-color: var(--container-color);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
    }
}

label {
    background: none;
    cursor: default;
}

button {
    min-width: 220px;
    &.action-button {
        min-width: 30px;
    }
}

img {
    width: 40px;
    border-radius: 3px;
}

h3.logs-title {
    margin-bottom: -20px;
}

.button-link {
    display: inline-block;
    padding: 10px 16px;
    margin: 5px 8px 5px 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}


.button-link:hover {
    background-color: #2563eb;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    margin-right: 10px;
}