<div class="layout" (click)="close()"></div>
<div class="modal">
    <div class="content">
        <div class="name">{{this.appContext.isGroupSelected && creature.aggressive ? creature.type : creature.name}}</div>
        <app-buffs [creature]="creature" *ngIf="this.appContext.isGroupSelected"></app-buffs>
        <div class="attack" *ngIf="!this.appContext.isGroupSelected">
            <div class="stat">
                <div class="icon damage"></div>
                <input type="tel" [(ngModel)]="attack" (ngModelChange)="calculateDamage()" maxlength="3"
                    class="stat-input" />
            </div>
            <div class="stat" *ngIf="creature.armor + creature.roundArmor > 0">
                <div class="icon pierce"></div>
                <input type="tel" [(ngModel)]="armorPen" (ngModelChange)="calculateDamage()" maxlength="3"
                    class="stat-input" />
            </div>
            <div class="damage-preview" *ngIf="damage > 0">
                total: {{ damage }}
            </div>
        </div>

        <app-conditions *ngIf="!this.appContext.isGroupSelected" [creature]="creature" [conditions]="conditions"
            [shouldShowBuffs]="true" (conditionToggled)="toggleCondition($event)">
        </app-conditions>
        <div class="buttons">
            <button type="button" class="cancel" (click)="close()">Cancel</button>
            <button type="button" class="confirm" (click)="confirm()">Confirm</button>
        </div>
    </div>

</div>