<div class="layout" (click)="close()"></div>
<div class="modal">
    <div class="content">
        <div>{{this.appContext.isGroupSelected && creature.aggressive ? creature.type : creature.name}}</div>
        <app-buffs [creature]="creature" #buff></app-buffs>
        <div class="attack">
            <div class="damage">
                <img src="./images/fh/action/damage.svg" />
                <input type="tel" [(ngModel)]="attack" (ngModelChange)="calculateDamage()" maxlength="3" class="stat-input" />
            </div>
            <div class="armor-penetration" *ngIf="creature.armor + creature.roundArmor > 0">
                <img src="./images/fh/action/pierce.svg" />
                <input type="tel" [(ngModel)]="armorPen" (ngModelChange)="calculateDamage()" maxlength="3" class="stat-input" />
            </div>
        </div>
        <div class="damage-preview">
           damage: {{ damage }}
        </div>
        <app-conditions *ngIf="!this.appContext.isGroupSelected" [creature]="creature" [conditions]="conditions"
            [shouldShowBuffs]="true" (conditionToggled)="toggleCondition($event)">
        </app-conditions>
        <div class="buttons">
            <button type="button" class="cancel" (click)="close()">Cancel</button>
            <button type="button" class="confirm" (click)="confirm()">Confirm</button>
        </div>
    </div>

</div>