 .buffs {
     font-size: 40px;
     display: flex;
     flex-direction: column;

     .stats {
         display: flex;
         align-items: center;
         flex-direction: column;
         margin: 5px 0px;

         .stat {
             display: flex;
             align-items: center;
             gap: 1rem;

             .stat-input {
                 height: 40px;
                 line-height: 40px;
             }
         }
     }

 }