.element-container {
  width: 50px;
  height: 50px;
  display: flex;
  gap: 8px;
}


svg {
  background-color: var(--content-background-right);
  border-radius: 50%;

  stop {
    transition: .4s ease;
}

  g {
    path {
      fill: var(--font-color-dark);
      &.dark {
        &.full {
          fill:  var(--element-base-color);
        }
      }
    }
  }
}

.element {
  width: 100%;
  height: 100%;
  transform-origin: center;
  display: block;
}