.title-row {
    display: inline-flex;
    gap: 8px;
}

.title-row h3 {
    margin: 0 0 1rem 0;
}


.monster-reference-table {
    width: 100%;
}

.ref-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.35);
}


.ref-table td {
    padding: 10px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
    text-overflow: ellipsis;
}

.ref-table tr:last-child td {
    border-bottom: none;
}

.ref-table tr:nth-child(odd) td {
    background: rgba(255, 255, 255, 0.02);
}

.profile {
    width: 70px;
    height: 70px;
}

.name-cell {
    text-align: left;
}

.name-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
}

.monster-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.name {
    font-weight: 700;
    letter-spacing: 0.2px;
    white-space: normal;
}

.icon {
    &.imm {
        position: relative;
        opacity: 0.7;

        .icon.immune {
            position: absolute;
            bottom: 0px;
            right: -10px;
            width: 15px;
            height: 15px;
            opacity: 1;
            filter: none;
            pointer-events: none;
        }
    }
}


.stat {
    width: auto;
    text-align: left;
    white-space: nowrap;
    font-weight: 700;
}

.stat .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    vertical-align: -3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 768px) {

    .ref-table {
        table-layout: fixed; // important for mobile
    }

    .ref-table,
    .ref-table tbody,
    .ref-table tr,
    .ref-table td {
        display: block;
        width: 100%;
    }

    .ref-table tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding: 10px 12px;
    }

    .ref-table td {
        border-bottom: none;
        padding: 6px 0;
    }

    .ref-table tr:nth-child(odd) {
        background: rgba(255, 255, 255, 0.02);
    }

    .name {
        white-space: normal;
    }

    .monster-icon {
        width: 36px;
        height: 36px;
    }

    .name-wrap {
        gap: 10px;
    }

    .stat {
        width: auto;
        white-space: normal;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .stat .icon {
        margin-right: 0;
        vertical-align: 0;
        padding-right: 1rem;
    }
}