.icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &.shield {
        background-image: url("./images/fh/action/shield.svg");
    }

    &.retaliate {
        background-image: url("./images/fh/action/retaliate.svg");
    }

    &.attack {
        background-image: url("./images/stats/attack.svg");
    }

    &.move {
        background-image: url("./images/fh/stats/move.svg");
    }

    &.poison {
        background-image: url("./images/fh/condition/poison.svg");
    }

    &.wound {
        background-image: url("./images/fh/condition/wound.svg");
    }

    &.brittle {
        background-image: url("./images/fh/condition/brittle.svg");
    }

    &.ward {
        background-image: url("./images/fh/condition/ward.svg");
    }

    &.immobilize {
        background-image: url("./images/fh/condition/immobilize.svg");
    }

    &.bane {
        background-image: url("./images/fh/condition/bane.svg");
    }

    &.muddle {
        background-image: url("./images/fh/condition/muddle.svg");
    }

    &.stun {
        background-image: url("./images/fh/condition/stun.svg");
    }

    &.impair {
        background-image: url("./images/fh/condition/impair.svg");
    }

    &.disarm {
        background-image: url("./images/fh/condition/disarm.svg");
    }

    &.regenerate {
        background-image: url("./images/fh/condition/regenerate.svg");
    }

    &.invisible {
        background-image: url("./images/fh/condition/invisible.svg");
    }

    &.strengthen {
        background-image: url("./images/fh/condition/strengthen.svg");
    }

    &.damage {
        background-image: url("./images/fh/action/damage.svg");
    }

    &.pierce {
        background-image: url("./images/fh/action/pierce.svg");
    }

    &.heart {
        background-image: url("./images/root/heart.svg");

    }

    &.flying {
        background-image: url("./images/fh/action/fly.svg"),
    }

    &.target {
        background-image: url("./images/fh/action/target.svg"),
    }

    &.undo {
        background-image: url("./images/action/undo.svg"),
    }

    &.range {
        background-image: url("./images/fh/action/range.svg"),
    }

    &.immune {
        background-image: url("./images/fh/condition/immune.svg");
    }

    &.target {
        background-image: url("./images/fh/action/target.svg");
    }

    &.snowthistle {
        background-image: url("./images/fh/loot/snowthistle.svg"),
    }

    &.axenut {
        background-image: url("./images/fh/loot/axenut.svg"),
    }

    &.arrowvine {
        background-image: url("./images/fh/loot/arrowvine.svg"),
    }

    &.rockroot {
        background-image: url("./images/fh/loot/rockroot.svg"),
    }

    &.corpsecap {
        background-image: url("./images/fh/loot/corpsecap.svg"),
    }

    &.flamefruit {
        background-image: url("./images/fh/loot/flamefruit.svg"),
    }

    &.metal {
        background-image: url("./images/fh/loot/metal.svg"),
    }

    &.lumber {
        background-image: url("./images/fh/loot/lumber.svg"),
    }

    &.hide {
        background-image: url("./images/fh/loot/hide.svg"),
    }

    &.gold {
        background-image: url("./images/fh/loot/money.svg"),
    }

    &.money {
        background-image: url("./images/fh/loot/money.svg"),
    }
    
    &.random_item {
        background-image: url("./images/fh/loot/random_item.svg"),
    }

    &.xp {
        background-image: url("./images/status/experience.svg"),
    }

    &.level{
        background-image: url("./images/level.svg"),
    }
}