<div class="layout" *ngIf="isVisible" (click)="close()"></div>
<div class="modal" *ngIf="isVisible">
    <div class="content">
        <div class="header">
            <h2>Damage Stats</h2>
            <button class="close-btn" (click)="close()">✕</button>
        </div>

        <div class="view-selector">
            <select [(ngModel)]="view" (ngModelChange)="onViewChange()" class="view-dropdown">
                <option value="session">This Session</option>
                <option value="alltime">All Time</option>
            </select>
        </div>
        
        <div class="stats-container">
            <div class="loading-state" *ngIf="isLoadingAllTime">
                <p>Loading...</p>
            </div>
            <div class="error-state" *ngIf="allTimeError">
                <p>{{ allTimeError }}</p>
            </div>
            <table class="damage-table" *ngIf="!isLoadingAllTime && !allTimeError">
                <thead>
                    <tr>
                        <th class="icon-col"></th>
                        <th class="character-col">Character</th>
                        <th class="damage-col">Damage</th>
                        <th class="kills-col">Kills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stat of getDisplayStats()">
                        <td class="icon-col">
                            <img class="char-icon"
                                 [src]="'./images/character/thumbnail/fh-' + stat.type + '.png'"
                                 [alt]="stat.name"
                                 (error)="$event.target.src='./images/bb/daemon-skull.svg'" />
                        </td>
                        <td class="character-col">{{ stat.name }}</td>
                        <td class="damage-col">{{ stat.damage }}</td>
                        <td class="kills-col">{{ stat.kills }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="empty-state" *ngIf="!isLoadingAllTime && !allTimeError && getDisplayStats().length === 0">
                <p>No damage recorded yet</p>
            </div>
        </div>


        <div class="buttons">
            <button class="close-btn-footer" (click)="close()">Close</button>
        </div>
    </div>
</div>
