:host {
 position: relative;
}

.setup-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--content-background-left);
  padding: 10px 0;
  padding-left: 5px;

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    border-left: 5px solid;
    gap: 0.5rem;
    flex: 1 1 0px;

    .label-group {
      height: 100%;
      display: flex;
      flex-direction: column;

      label {
        padding: 0px;
        font-size: 20px;
      }

      input {
        min-width: 60px;
      }
    }
  }

  button {
    border: none;
  }
}

@media (max-width: 768px) {
  .setup-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.chevron {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  outline: none;
  top: 10px;
  right: 10px;
  color: var(--font-color-dark);
  border-radius: 4px;
  padding: 4px;

  &.expanded {
    transform: rotate(180deg);
    top: 0px
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

app-chevron-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  --font-color: var(--font-color-dark);
}

app-chevron-toggle.expanded {
  top: 0px;
}