<div class="scenario-container">
  <app-setup></app-setup>
  <div class="content">
    <div class="elements-row">
      <app-element *ngFor="let el of elements" [element]="el"></app-element>
    </div>
    <app-round></app-round>
  </div>
  <app-game></app-game>
  <app-attack-modal *ngIf="this.appContext.selectedCreature"></app-attack-modal>
  <app-add-monster *ngIf="this.appContext.addMonsterToggled"></app-add-monster>
  <app-scenario-monster-reference></app-scenario-monster-reference>
  <app-legend></app-legend>
  <app-log></app-log>
</div>