<div class="scenario-container">
  <app-setup></app-setup>
  <div class="content">
    <div class="elements-row">
      <app-element *ngFor="let el of elements" [element]="el"></app-element>
      <button type="button"
              class="hold-all"
              [class.active]="isAllHeld"
              [attr.aria-label]="holdAllTooltip"
              [attr.aria-pressed]="isAllHeld"
              [title]="holdAllTooltip"
              (click)="cycleHoldAll()">
        <svg class="lock" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M7 10V7a5 5 0 0 1 10 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zm2 0h6V7a3 3 0 0 0-6 0z" />
        </svg>
        <span *ngIf="holdAllLabel" class="hold-count">{{ holdAllLabel }}</span>
      </button>
    </div>
    <app-round></app-round>
    <app-connection-status class="connection-status" />
  </div>
  <app-game></app-game>
  <app-attack-modal *ngIf="this.appContext.selectedCreature"></app-attack-modal>
  <app-add-monster *ngIf="this.appContext.addMonsterToggled"></app-add-monster>
  <app-scenario-monster-reference></app-scenario-monster-reference>
  <div class="reference-row">
    <app-scenario-general-reference></app-scenario-general-reference>
    <app-loot *ngIf="appContext.scenarioFile$ | async"></app-loot>
  </div>
  <app-log></app-log>
  <app-initiative-bubble></app-initiative-bubble>
</div>