.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .herbs-container {
        display: flex; 
        flex-wrap: wrap;
        gap: 1rem;
    }

    .herbs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
    }

    .container {
        justify-content: space-around;
    }

    .herbs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        justify-content: center;
    }

    .title {
        justify-content: center;
    }
}