<div class="filters content">
  <div class="herbs" *ngFor="let type of RESOURCE_KEYS; let i = index">
    <div class="icon" [class]="type"></div>
    <input type="tel" placeholder="#" [(ngModel)]="inventory[type]"/>
  </div>
  <button (click)="filterCraftable()" class="cancel">Brew</button>
  <button (click)="clear()" class="cancel">All</button>
</div>
<div class="potions-container">
  <div class="title clickable" (click)="toggleCategory('Two herbs')">
    <span class="chev">{{ isExpanded('Two herbs') ? '▾' : '▸' }}</span>
    Two herbs
  </div>
  <div class="two-herbs container" *ngIf="isExpanded('Two herbs')">
    <div *ngFor="let potion of twoHerbsPotions" >
      <app-single-potion [potion]="potion" [unlockedPotionIds]="unlockedPotionIds" (brewPotion)="brewPotion($event)"></app-single-potion>
    </div>
  </div>
  <div class="title clickable" (click)="toggleCategory('Three herbs')">
    <span class="chev">{{ isExpanded('Three herbs') ? '▾' : '▸' }}</span>
    Three herbs
  </div>
  <div class="three-herbs container" *ngIf="isExpanded('Three herbs')">
    <div *ngFor="let potion of threeHerbsPotions">
      <app-single-potion [potion]="potion" [unlockedPotionIds]="unlockedPotionIds" (brewPotion)="brewPotion($event)"></app-single-potion>
    </div>
  </div>
</div>