:root {
  --vh: 1vh;
}

html,
body,
app-root,
#master-container,
*,
*::before,
*::after {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

.navigaiton {
  display: flex;
  gap: 1rem;

  a {
    color: var(--font-color);
  }
}

.technical-info {
  position: absolute;
  bottom: -10em;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 0.7em;
  color: var(--font-color);
}