<!-- master-container is a workaround to handle the focus event on all number fields in the page -->
<div id="master-container">
    <div class="title">
        <!-- <img src="favicon.ico" alt="Frosthaven Logo" loading="lazy" />
        <h1>Frosthaven Assistant</h1> -->
    </div>
    <app-setup></app-setup>
    <div class="content">
        <div class="elements-row">
            <app-element *ngFor="let el of elements" [element]="el"></app-element>
        </div>
        <app-round [elements]="elements"></app-round>
    </div>

    <app-game></app-game>
    <app-attack-modal *ngIf="this.appContext.selectedCreature"></app-attack-modal>
    <app-add-monster *ngIf="this.appContext.addMonsterToggled"></app-add-monster>
    
</div>

<app-toast-notification></app-toast-notification>