 .creature-details {
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 0px 10px 10px 10px;
   display: flex;
   width: calc(100% - 20px);
   min-height: 135px;


   &.elite {
     background: var(--elite-color);
   }

   &.non-elite {
     background: var(--nonelite-color);
   }

   &.boss {
     background: var(--boss-color);
   }

   &.character {
     &.coral {
       background-color: var(--coral-color);
     }

     &.fist {
       background-color: var(--fist-color);
     }

     &.blinkblade {
       background-color: var(--blinkblade-color);
     }

     &.banner-spear {
       background-color: var(--banner-spear-color);
     }

     &.meteor {
       background-color: var(--meteor-color);
     }

     &.drifter{
        background-color: var(--drifter-color);
     }
   }
 }

 .creature-details {
   &.character {
     background-color: var(--character-bg, var(--background-secondary));
   }
 }

 .row {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
 }

 .right-info {
   display: flex;
   align-items: baseline;
   gap: 10px;
 }


 .base-stat {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   input {
     background: none;
     color: var(--font-color);
     border: none;
   }
 }

 img.profile {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   box-shadow: 0px 0px 5px 2px;
   user-select: none;
 }


 .base-info,
 .group-stats {
   display: flex;

   .traits {
     .icon {
       width: 30px;
       height: 40px;
     }
   }
 }

 .bordered {
   border-right: 1px solid var(--secondary-color);
   padding-right: 10px;
 }

 .group-stats {
   flex-direction: column;
   flex-shrink: 2;
   margin-left: 20px;

   .stats {
     justify-content: flex-start;
     display: flex;
     margin-top: 5px;
     gap: 0.5rem;
     flex-wrap: nowrap;

     .base-stat {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 0.5rem;

       .icon {
         width: 30px;
         height: 30px;
         display: flex;
         justify-content: center;

         &.shield,
         &.retaliate {
           display: flex;
           justify-content: center;
           align-items: center;
         }

         &.range {
           display: flex;
           justify-content: center;
           align-items: center;
           padding-right: 20px;
         }

         &.heart,
         &.xp{
          width: 35px;
          height: 35px;
         }
       }

       .stat-value {
         min-width: 12px;
       }
     }
   }

   img {
     width: 30px;
   }
 }