<div class="legend-container">
  <h3>References</h3>

  @if (vm$ | async; as vm) {
    <table class="legend-table">
      @if (vm.ref) {
        <tbody>
          <tr>
            <td>Monster Level</td>
            <td>{{ vm.ref.monster_level }}</td>
          </tr>
          <tr>
            <td>Gold Conversion</td>
            <td>{{ vm.ref.gold_conversion }}</td>
          </tr>
          <tr>
            <td>Trap Damage</td>
            <td>{{ vm.ref.trap_damage }}</td>
          </tr>
          <tr>
            <td>Hazardous Terrain</td>
            <td>{{ vm.ref.hazardous_terrain }}</td>
          </tr>
          <tr>
            <td>Bonus Experience</td>
            <td>{{ vm.ref.bonus_experience }}</td>
          </tr>
        </tbody>
      }
    </table>
  }
</div>
