<div class="legend-container">
  <h3>Scenario References</h3>

  @if (vm$ | async; as vm) {
    <table class="legend-table">
      @if (vm.ref; as ref) {
        <tbody>
          @for (label of [
            ['Bonus Experience', ref.bonus_experience],
            ['Gold Multiplier', ref.gold_conversion],
            ['Trap Damage', ref.trap_damage],
            ['Hazardous Terrain Damage', ref.hazardous_terrain],
            ['Monster Level', ref.monster_level],
          ]; track label[0]) {
            <tr>
              <td>{{ label[0] }}</td>
              <td>{{ label[1] }}</td>
            </tr>
          }
        </tbody>
      }
    </table>
  }
</div>