*, *::before, *::after { box-sizing: border-box; }

// /* Kill horizontal overflow from the root */
html, body { width: 100%; overflow-x: clip; }

.navigaiton {
  display: flex;
  gap: 1rem;

  a {
    color: var(--font-color);
  }
}

.technical-info {
  position: absolute;
  bottom: -10em;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 0.7em;
  color: var(--font-color);
}