.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin-bottom:0.5em;

    .conditions,
    .buffs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .stat {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;

            .icon.range {
                width: 40px;
                margin-left: 5px;
            }
        }

        .condition-element {
            position: relative;
            cursor: pointer;
            margin: 5px;
            width: 35px;
            height: 35px;

            .icon {
                width: 100%;
                height: 100%;
            }

            .icon:not(.active):not(.immune) {
                opacity: 0.5;
                filter: brightness(50%);
            }

            &.is-immune .icon:not(.immune) {
                opacity: 0.5;
                filter: brightness(50%);
            }

            .icon.immune {
                position: absolute;
                bottom: -2px;
                right: -2px;
                width: 16px;
                height: 16px;
                opacity: 1;
                filter: none;
                pointer-events: none;
            }
        }

    }
}